.review-container{
    font-size: 20px;
    margin-top: 20px;

}
.review-container h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}
.review-container input{
    width: 100%;
    border: none;
    height: 5vh;
}
.review-container button{
    margin-top: 10px;
    background-color: rgb(26, 24, 24);
    color: white;
    border: none;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
}
